body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Averta Demo PE';
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.2;
}
a {
	display: inline-block;
	text-decoration: none;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
	outline: 0;
	outline: none!important;
	border: none;
}
a,img,span,button,input,textarea,svg {
	transition: .3s all ease;
}


.wrapper {
	overflow: hidden;
	background: #FEF4FF;
}

header {
	padding: 15px 0;
}
.for__all .navbar-brand {
	padding: 0;
	margin-right: 50px;
}
.for__all .navbar {
	flex-wrap: nowrap;
	padding: 0;
}
.for__all .navbar .navbar-collapse {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.for__all .navbar .nav-item {
	margin-right: 32px;
}
.for__all .navbar .nav-item:last-child {
	margin-right: 0;
}
.for__all .navbar .nav-item .nav-link {
	padding: 0;
	font-size: 16px;
	color: #000000;
}
.for__all .navbar .nav-item .nav-link.active,
.for__all .navbar .nav-item .nav-link:hover {
	font-weight: 700;
	color: #3980FF;
}
.for__all .dropdown-toggle img {
	margin-left: 5px;
}
.for__all .dropdown-toggle.active img {
	transform: rotate(180deg);
}
.navbar-expand-lg .navbar-nav .nav-link {padding: 0;}
.dropdown-toggle::after {content: none;}



.for__all .navbar-right {
	display: flex;
	align-items: center;
}
.for__all .navbar-right .navbar-right-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 22px;
}
.for__all .navbar-right .navbar-right-info .header-tel {
	font-weight: 600;
	font-size: 20px;
	color: #4386FF;
}
.for__all .navbar-right .navbar-right-info .header-mail {
	font-size: 16px;
	line-height: 148.6%;
	color: rgba(0, 0, 0, 0.41);
}
.for__all .navbar-right .navbar-right-info .header-mail:hover {
	color: #3980FF;
}
.for__all .navbar-right .navbar-right-social {
	display: flex;
	align-items: center;
}
.for__all .navbar-right .navbar-right-social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background: #3980FF;
	border-radius: 5px;
	margin-right: 11px;
}
.for__all .navbar-right .navbar-right-social a:last-child {
	margin-right: 0;
}
.for__all .navbar-right .navbar-right-social a:hover {
	transform: scale(1.05);
}
/* ///////////////// */
.main-sec {
	padding: 200px 0;
	background-image: url('../images/main-bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #3980FF;
	border-radius: 20px;
	position: relative;
	z-index: 10;
	margin: 0 30px;
}
.main-sec .main-sec__circle-img1, .main-sec__circle-img2, .main-sec__circle-img3{
	position: absolute;
	top: 0;
	right: 0;
}
.main-sec .main-sec__circle-img1{
	top: 229px;
	right: 684px;
	z-index: -1;
	width: 97px;
	height: 97px;
}
.main-sec .main-sec__circle-img2{
	right: 268px;
	top: 640px;
	filter: blur(9px);
}
.main-sec .main-sec__circle-img3{
	top: 227px;
	right: 219px;
	width: 50px;
	height: 50px;
	transform: rotate(38.32deg);
}
.main-sec .main-text h2 {
	font-weight: 600;
	font-size: 55px;
	line-height: 110%;
	color: #FFFFFF;
	margin-bottom: 34px;
}
.main-sec .main-text p {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 148.6%;
	color: #FFFFFF;
	max-width: 492px;
	
}
.main-sec .main-text p:last-child {
	margin-bottom: 0;
}
.main-sec .main-text p img {
	margin-right: 34px;
}

.main-sec .main-btns {
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.blue-btn,
.red-btn {
	border-radius: 10px;
	width: 268px;
	height: 73px;
	font-weight: 600;
	font-size: 17px;
	line-height: 148.6%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}
.red-btn {
	background: #EB5757;
	margin-right: 25px;
}
.blue-btn {
	background: #0C4AB3;
}

.red-btn:focus,
.red-btn:hover {
	background: #e92121;
	color: #fff;
}
.blue-btn:focus,
.blue-btn:hover {
	background: #013183;
	color: #fff;
}
/* end main section */
.our__services {
	padding: 87px 0 120px;
	background-image: url('../images/our-services-bg.png');
	background-position: 1645px 695px;
	background-repeat: no-repeat;
}
.our__services .our__services-title {
	margin-bottom: 65px;
	display: flex;
	align-items: flex-end;
}
.title h2 {
	font-weight: 600;
	font-size: 55px;
	line-height: 103.1%;
	color: #000000;
}
.our__services .our__services-title p {
	font-size: 16px;
	line-height: 128.1%;
	color: rgba(0, 0, 0, 0.69);
	margin-left: 60px;
	max-width: 424px;
}
.our__services-block {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.01), 0px 5px 3px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	padding: 35px 45px;
	overflow: hidden;
	transition: all 0.5s linear;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.our__services__block-text{
	text-align: center;
	transition: .3s all ease;
}
.our__services__block-text p{
	font-weight: 600;
	font-size: 20px;
	line-height: 128.1%;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	margin: 27px 0 23px 0;
}

.our__services__block-content p{
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 132.6%;
	color: #000000;
	margin-bottom: 28px;
}
.our__services__block-content p:last-child{
	margin-bottom: 30px;
}

.our__services__block-skills{
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
}
.our__services__block-skills span{
	padding: 10px 25px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 54px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 128.1%;
	text-align: center;
	color: #000000;
	cursor: pointer;
}

/* development__stages start */
.development__stages{
	background: #3980FF;
	border-radius: 20px;
	margin: 0 30px;
	padding: 60px 0 63px 0;
	margin-bottom: 130px;
}
.development__stages .rov-top{
	margin-top: 52px;
}
.development__stages .mb{
	margin-bottom: 52px;
}
.development__stages .development__stages-title{
	font-weight: 600;
	font-size: 55px;
	line-height: 103.1%;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 88px;
}
.development__stages .development__stages-img img{
	background: rgba(254, 244, 255, 0.07);
	border: 1px solid rgba(255, 255, 255, 0.28);
	border-radius: 15px;
	width: 100%;
	height: 132px;
}
.development__stages .development__stages-content--box{
	margin: 25px 0 16px 0;
	gap: 16px;
}
.development__stages .development__stages-content h4{
	font-weight: 600;
	font-size: 18px;
	line-height: 132.6%;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.development__stages .development__stages-content p{
	font-weight: 400;
	font-size: 15px;
	line-height: 150.6%;
	color: #FFFFFF;
}
.development__stages .development__stages-circle-box{
	position: relative;
}
.development__stages .development__stages-circle-img, 
.development__stages-code-img,
.development__stages-rocket-img,
.development__stages-setting-img{
	position: absolute;
	top: -47px;
	right: -15px;
}
.development__stages .development__stages-code-img{
	top: -78px;
	left: 6px;
}
.development__stages .development__stages-rocket-img{
	top: -57px;
	left: -9px;
}
.development__stages .development__stages-setting-img{
	top: -90px;
	right: -25px;
}
.development__stages-btn a {
	font-weight: 600;
	font-size: 17px;
	line-height: 148.6%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background: #EB5757;
	border-radius: 15px;
	height: 130px;
	width: 100%;
}
.development__stages-btn a:hover {
	background: #e92121;
}
.rov__top {
	margin-top: 50px;
}
/* development__stages end */


/* mobile__price */
.mobile__price {
	background: url(../images/our-services-bg.png) no-repeat;
	background-size: contain;
	background-position-x: 85px;
	padding: 65px 0px 130px 0px;
	position: relative;
}
.mobile__price .mobile-sec__circle-img3{
	position: absolute;
	top: 134px;
	left: 243px;
	transform: rotate(15.68deg);
	height: 97px;
	width: 97px;
}
.mobile__price .mobile__price-title__text {
	margin-bottom: 56px;
}
.mobile__price .mobile__price-title__text h1 {
	max-width: 940px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 55px;
	line-height: 103.1%;
	color: #000000;
	margin-bottom: 39px;
}
.mobile__price .mobile__price-title__text p {
	max-width: 853px;
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 128.1%;
	color: #000000;
}
.mobile__price-card {
	background: #ffffff;
	box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.01), 0px 5px 3px rgba(0, 0, 0, 0.05),
	0px 2px 2px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.09),
	0px 0px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	padding: 36px 71px 44px 71px;
	position: relative;
}
.mobile__price-card:hover {
	box-shadow: 0px 53px 21px rgba(0, 0, 0, 0.01),
	0px 30px 18px rgba(0, 0, 0, 0.03), 0px 13px 13px rgba(0, 0, 0, 0.04),
	0px 3px 7px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
}
.mobile__price-card-3 {
	padding-left: 0;
	padding-right: 0;
}
.mobile__price .mobile__price-card .mobile__price-card-bookmark {
	max-width: fit-content;
	position: absolute;
	top: 0;
	right: 71px;
}
.mobile__price-card .mobile__price-card__title {
	width: 100%;
}
.mobile__price-card .mobile__price-card__title-3 {
	padding: 0 71px;
}
.mobile__price
.mobile__price-card
.mobile__price-card__title
.mobile__price-card__img {
	width: 28px;
}
.mobile__price
.mobile__price-card
.mobile__price-card__title
.mobile__price-card__img-2 {
	width: 38px;
}
.mobile__price
.mobile__price-card
.mobile__price-card__title
.mobile__price-card__img-3 {
	width: 38px;
}
.mobile__price
.mobile__price-card
.mobile__price-card__title
.mobile__price-card__img
img {
	width: 100%;
}
.mobile__price .mobile__price-card .mobile__price-card__title h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 128.1%;
	color: #000000;
	margin-left: 19px;
}
.mobile__price-card .mobile__price-card__about {
	margin-top: 33px;
}
.mobile__price-card .mobile__price-card__about-3 {
	padding: 0 55px;
}
.mobile__price-card-about .mobile__price-card__left {
	margin-right: 40px;
	height: 172px;
	display: flex;
	align-items: flex-start;
	justify-content: left;
}
.mobile__price-card__about .mobile__price-card__left P {
	margin-bottom: 23px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 128.1%;
	color: #000000;
}
.mobile__price-card__about .mobile__price-card__left P:last-child {
	margin: 0;
}
.mobile__price-card__about .mobile__price-card__right p {
	margin-bottom: 23px;
}
.mobile__price-card__about .mobile__price-card__right p:last-child {
	margin: 0;
}
.mobile__price-card__more {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 128.1%;
	text-decoration-line: underline;
	color: rgba(0, 0, 0, 0.51);
}
.mobile__price-card__bottom {
	margin-top: 13px;
	padding: 0 71px;
}
.mobile__price-card__bottom-2 {
	margin-top: 13px;
	padding: 0;
}
.mobile__price-card__price {
	margin-top: 50px;
	margin-bottom: 13px;
}
.mobile__price-card__price-2 {
	margin-top: 13px;
}
.mobile__price-card__price h4 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 128.1%;
	text-align: center;
	color: #000000;
}
.mobile__price-card__btn button {
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 148.6%;
	color: #3980ff;
	width: 100%;
	background: local;
	border: 1px solid #3980ff;
	border-radius: 10px;
	padding: 24px 43px;
}
.mobile__price-card__btn button:hover {
	background: #3980ff;
	color: #ffff;
}
/* mobile price end */
/* run sec start */
.run__sec {
	padding-top: 76px;
	position: relative;
	margin: 0 30px;
}
.run__sec .run-sec__circle-img1, .run-sec__circle-img2{
	position: absolute;
	z-index: 10;
}
.run__sec .run-sec__circle-img1{
	top: -180px;
	right: 80px;
	z-index: 10;
	width: 236px;
	height: 236px;
}
.run__sec .run-sec__circle-img2{
	bottom: 0;
	left: 216px;
	width: 186px;
	height: 186px;
}
.run__sec::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 87%;
	background: #FFFFFF;
	border-radius: 20px;
}
.run__sec .bg-img {
	position: absolute;
	left: 0;
	right: 0;
	top: 85px;
	margin: auto;
	z-index: 2;
	width: 47%;
}
.run__sec .row {
	position: relative;
	z-index: 3;
}
.run__sec .title {
	margin-bottom: 78px;
	text-align: center;
}
.run__sec .run__sec-block {
	margin-bottom: 66px;
}
.run__sec .run__sec-block:last-child {
	margin-bottom: 0;
}
.run__sec .run__sec__block-name {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.run__sec .run__sec__block-name span {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #0C4AB3;
	font-weight: 600;
	font-size: 20px;
	line-height: 132.6%;
	color: #FFFFFF;
	margin-right: 20px;
}
.run__sec .run__sec__block-name h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 128.1%;
	color: #000000;
}
.run__sec .run__sec__block-text p {
	font-weight: 300;
	font-size: 15px;
	line-height: 132.6%;
	color: #000000;
}
.run__sec .run__sec-img img {
	width: 100%;
}
/* run sec end */
/* ////////// */
.order__app {
	padding: 70px 0 40px;
	position: relative;
}
.order__app .order__app__circle-img {
	position: absolute;
	top: 53px;
	right: 400px;
}
.order__app .title {
	margin-bottom: 58px;
	text-align: center;
}
.order__app .order__app-rov {
	justify-content: space-between;
}
.order__app .order__app-form > span,
.order__app .order__app-left > span {
	margin-bottom: 26px;
	font-weight: 600;
	font-size: 20px;
	line-height: 128.1%;
	color: #000000;
	display: block;
}
.order__app .order__app-form .form-group {
	margin-bottom: 10px;
}
.order__app .order__app-form .form-group textarea,
.order__app .order__app-form .form-group input {
	border: 1px solid rgba(172, 172, 172, 0.88);
	border-radius: 10px;
	padding: 22px 34px;
	background: transparent;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 128.1%;
	color: #000000;
}
.order__app .order__app-form .form-group textarea {
	height: 205px;
}
.order__app .order__app-form .form-group textarea::placeholder,
.order__app .order__app-form .form-group input::placeholder {
	font-weight: 300;
	font-size: 16px;
	line-height: 128.1%;
	color: rgba(0, 0, 0, 0.76);
}
.order__app .order__app-form .form-group textarea:focus,
.order__app .order__app-form .form-group input:focus,
.order__app .order__app-form .form-group textarea:hover,
.order__app .order__app-form .form-group input:hover {
	border-color: #3980FF;
}
.order__app .order__app-form .form-btn {
	padding-top: 10px;
}
.order__app .order__app-form .form-btn button {
	background: #3980FF;
	border: 1px solid #3980FF;
	border-radius: 10px;
	padding: 24px 43px;
	font-weight: 600;
	font-size: 17px;
	line-height: 148.6%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}
.order__app .order__app-form .form-btn button:hover {
	background: #0C4AB3;
}
/* ////////// */
footer {
	padding: 65px 0;
}




/* animation icon start */
.animation-icon{
	animation: float 3s linear infinite;
}
@keyframes float {
	0%, 100% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(1rem);
	}
}
/* animation icon end */



/* custom checkbox */
.control {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	height: 106px;
	border: 1px solid #3980FF;
	border-radius: 93px;
	overflow: hidden;
}
.control .num {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 128.1%;
	position: relative;
	z-index: 3;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #f3f2fd;
}
.control input:checked ~ .control__indicator {
	background: #3980FF;
}
.control input:checked ~ span {
	color: #fff;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
/* /////// end ////// */
#back-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #013183;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-top::after {
  content: "";
  background-image: url('../images/top.png');
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
#back-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-top:active {
  background-color: #555;
}
#back-top.show {
  opacity: 1;
  visibility: visible;
}

.mob {display: none !important;}
/* ************************************************ */


@media (max-width: 1600px) {
	.order__app .order__app__circle-img {
		right: 10%;
	}
}

@media (max-width: 1400px) {
	.mobile__price-card__btn button {
		padding: 15px 0;
	}
	.mobile__price-card .mobile__price-card__about-3 {
		padding: 0 30px;
	}
	.mobile__price-card {
		padding: 36px 50px 44px 50px;
	}
	.mobile__price-card-3 {
		padding: 36px 0px 44px 0px;
	}
	.mobile__price-card__btn button {
		max-width: 200px;
	}
	.mobile__price-card__bottom {
		padding: 0 40px;
	}
	.for__all .navbar-brand {
		margin-right: 30px;
	}
	.for__all .navbar-brand img {
		height: 50px;
	}
	.for__all .navbar .nav-item .nav-link {
		font-size: 15px;
	}
	.for__all .navbar .nav-item {
		margin-right: 25px;
	}
	.main-sec {
		background-position: bottom;
	}
	.mobile__price .mobile-sec__circle-img3 {
		left: 50px;
	}
	.run__sec .run-sec__circle-img2 {
		bottom: -70px;
		left: 130px;
		width: 150px;
	}
	.development__stages .development__stages-img img,
	.development__stages-btn a {
		height: 113px;
	}
}


@media (max-width: 1200px) {
	.for__all .navbar-right {
		flex-direction: column;
	}
	.for__all .navbar-right .navbar-right-info .header-tel {
		font-size: 18px;
	}
	.for__all .navbar-right .navbar-right-social a {
		width: 40px;
		height: 40px;
	}
	.for__all .navbar-right .navbar-right-info {
		margin-right: 0;
		margin-bottom: 10px;
	}
	.for__all .navbar-right {
		align-items: flex-end;
	}
	.our__services-block {
		padding: 20px 15px;
	}
	.our__services__block-content p {
		margin-bottom: 15px;
	}
	.run__sec .run-sec__circle-img2 {
		bottom: -176px;
		width: 97px;
	}
	.run__sec::after {
		height: 100%;
	}
	.run__sec {
		padding-bottom: 50px;
	}
	.main-sec {
		padding: 100px 0;
	}
	.main-sec .main-sec__circle-img2 {
		width: 140px;
	}
}




@media (max-width: 992px) {
	.mobile__price-card {
		margin-bottom: 10px;
	}
	.mobile__price .mobile__price-card .mobile__price-card-bookmark {
		right: 50px;
	}
	.our__services .mb{
		margin-bottom: 24px;
	}
	/* mob menu */
	.pc {display: none !important;}
	.mob {display: block !important;}
	.menu-opener {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		background: #3980FF;
		border-radius: 5px;
	}
	.menu-opener span {
		width: 23px;
		height: 2px;
		border-radius: 10px;
		background: #fff;
		margin-bottom: 5px;
		position: relative;
		transition: .4s all ease;
	}
	.menu-opener span.three {
		margin-bottom: 0;
	}
	.menu-opener.active span.one {
		transform: rotate(45deg);
		top: 4px;
	}
	.menu-opener.active span.three {
		transform: rotate(-45deg);
		top: -3px;
	}
	.menu-opener.active span.two {
		display: none;
	}

	header .navbar .navbar-collapse {
		position: absolute;
		top: 82px;
		right: -100%;
		width: 50%;
		z-index: 100;
		background: #fff;
		flex-direction: column;
		padding: 30px 0 50px;
		transition: .5s all ease;
	}
	header .navbar .navbar-collapse.active {
		right: 0;
	}
	header .navbar {
		position: unset;
	}
	header {
		position: relative;
	}
	.for__all .navbar .nav-item {
		margin-right: 0;
		width: 100%;
		border-top: 1px solid #E0E0E0;
	}
	.for__all .navbar .nav-item:last-child {
		border-bottom: 1px solid #E0E0E0;
	}
	.navbar-nav {
		width: 100%;
	}
	.for__all .navbar .nav-item .nav-link {
		padding: 20px 50px;
		font-size: 16px;
	}
	.for__all .navbar .nav-item .nav-link.active,
	.for__all .navbar .nav-item .nav-link:hover {
		background: rgba(57, 128, 255, 0.12);
	}
	.for__all .navbar-right {
		margin-top: 25px;
	}
	.for__all .navbar-right .navbar-right-info a {
		display: flex;
		align-items: center;
	}
	.for__all .navbar-right .navbar-right-info a span {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}
	.for__all .navbar-right .navbar-right-info .header-tel {
		margin-bottom: 8px;
	}
	.for__all .navbar-right {
		align-items: center;
	}
	.for__all .navbar-right .navbar-right-info {
		margin-bottom: 30px;
	}
	.main-sec .main-sec__circle-img1 {
		right: 0;
	}
	.our__services .our__services-title {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.our__services .our__services-title p {
		margin-left: 0;
		margin-top: 15px;
	}
	.our__services-block {
		margin-top: 30px;
	}
	.our__services .our__services-title {
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.mobile__price .mobile__price-title__text h1 {
		max-width: 100%;
		font-size: 40px;
	}
	.mobile__price-card__btn button {
		max-width: 400px;
	}
	.mobile__price {
		background: none;
	}
	.our__services .our__services-title{
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		gap: 17px;
	}
	.our__services .our__services-title p{
		margin-left: 0;
	}
}
@media (max-width: 470px) {
	.mobile__price-card {
		padding: 36px 32px 25px 32px;
	}
	.mobile__price-card .mobile__price-card__about-3 {
		padding: 0;
	}
	.mobile__price-card__bottom {
		padding: 0;
	}
	.mobile__price .mobile__price-title__text h1 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.mobile__price .mobile__price-title__text {
		margin-bottom: 33px;
	}
	.mobile__price-card .mobile__price-card__title-3 {
		padding: 0;
	}
}

