body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Averta Demo PE';
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.2;
}
*{
	transition: all 0.3s linear;
}
a {
	display: inline-block;
	text-decoration: none;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
	outline: 0;
	outline: none!important;
	border: none;
}
a,img,span,button,input,textarea,svg {
	transition: .3s all ease;
}


.wrapper {
	overflow: hidden;
	background: #FEF4FF;
}

header {
	padding: 15px 0;
}
header .navbar-brand {
	padding: 0;
	margin-right: 50px;
}
header .navbar {
	flex-wrap: nowrap;
	padding: 0;
}
header .navbar .navbar-collapse {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .navbar .nav-item {
	margin-right: 32px;
}
header .navbar .nav-item:last-child {
	margin-right: 0;
}
header .navbar .nav-item .nav-link {
	padding: 0;
	font-size: 16px;
	color: #000000;
}
header .navbar .nav-item .nav-link.active,
header .navbar .nav-item .nav-link:hover {
	font-weight: 700;
	color: #3980FF;
}
header .dropdown-toggle img {
	margin-left: 5px;
}
header .dropdown-toggle[aria-expanded="true"] img {
	transform: rotate(180deg);
}
.navbar-expand-lg .navbar-nav .nav-link {padding: 0;}
.dropdown-toggle::after {content: none;}



header .navbar-right {
	display: flex;
	align-items: center;
}
header .navbar-right .navbar-right-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 22px;
}
header .navbar-right .navbar-right-info .header-tel {
	font-weight: 600;
	font-size: 20px;
	color: #4386FF;
}
header .navbar-right .navbar-right-info .header-mail {
	font-size: 16px;
	line-height: 148.6%;
	color: rgba(0, 0, 0, 0.41);
}
header .navbar-right .navbar-right-info .header-mail:hover {
	color: #3980FF;
}
header .navbar-right .navbar-right-social {
	display: flex;
	align-items: center;
}
header .navbar-right .navbar-right-social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background: #3980FF;
	border-radius: 5px;
	margin-right: 11px;
}
header .navbar-right .navbar-right-social a:last-child {
	margin-right: 0;
}
header .navbar-right .navbar-right-social a:hover {
	transform: scale(1.05);
}
/* ///////////////// */

.main-sec {
	padding: 200px 0;
	background-image: url('../images/main-bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #3980FF;
	border-radius: 20px;
}
.main-sec .main-text h2 {
	font-weight: 600;
	font-size: 55px;
	line-height: 110%;
	color: #FFFFFF;
	margin-bottom: 34px;
}
.main-sec .main-text p {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 148.6%;
	color: #FFFFFF;
	max-width: 492px;
	
}
.main-sec .main-text p:last-child {
	margin-bottom: 0;
}
.main-sec .main-text p img {
	margin-right: 34px;
}

.main-sec .main-btns {
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.blue-btn,
.red-btn {
	border-radius: 10px;
	width: 268px;
	height: 73px;
	font-weight: 600;
	font-size: 17px;
	line-height: 148.6%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}
.red-btn {
	background: #EB5757;
	margin-right: 25px;
}
.blue-btn {
	background: #0C4AB3;
}

.red-btn:focus,
.red-btn:hover {
	background: #e92121;
	color: #fff;
}
.blue-btn:focus,
.blue-btn:hover {
	background: #013183;
	color: #fff;
}
/* end main section */

.our__services {
	padding: 87px 0 120px;
	/* background-image: url('../images/our-services-bg.png'); */
	background-position: bottom right;
	background-repeat: no-repeat;
}
.our__services .our__services-title {
	margin-bottom: 65px;
	display: flex;
	align-items: flex-end;
}
.title h2 {
	font-weight: 600;
	font-size: 55px;
	line-height: 103.1%;
	color: #000000;
}
.our__services .our__services-title p {
	font-size: 16px;
	line-height: 128.1%;
	color: rgba(0, 0, 0, 0.69);
	margin-left: 60px;
	max-width: 424px;
}
.our__services-block {
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.01), 0px 5px 3px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	padding: 35px 45px;
	overflow: hidden;
	transition: all 0.5s linear;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}


.our__services-block:hover .our__services__block-img {
	text-align-last: left;
}
.our__services-block:hover .our__services__block-text p{
	margin-top: -35px;
}
.our__services-block:hover .our__services__block-text img{
	width: 48.66px;
	height: 48.66px;
	margin-left: -10px;
}
.our__services__block-text{
	text-align: center;
	transition: .3s all ease;
}
.our__services__block-text p{
	font-weight: 600;
	font-size: 20px;
	line-height: 128.1%;
	text-align: center;
	color: #000000;
	margin-top: 27px;
	margin: 27px 0 23px 0;
}
.our__services__block-content{
	transform: scale(0);
	height: 0;
	transition: all 0.3s linear;
}
.our__services-block:hover .our__services__block-content {
	transform: scale(1);
	height: 340px;
	transition: all 0.3s linear;
	overflow-x: hidden;
	overflow-y: hidden;
}
.our__services__block-content p{
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 132.6%;
	color: #000000;
	margin-bottom: 28px;
}
.our__services__block-content p:last-child{
	margin-bottom: 0;
}
.our__services-block:hover .our__services__block-skills{
	bottom: 43px;
}
.our__services__block-skills{
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
}
.our__services__block-skills span{
	padding: 10px 25px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 54px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 128.1%;
	text-align: center;
	color: #000000;
	cursor: pointer;
}

/* development__stages start */
.development__stages{
	background: #3980FF;
	border-radius: 20px;
	padding: 60px 0 63px 0;
}
.development__stages .development__stages-title{
	font-weight: 600;
	font-size: 55px;
	line-height: 103.1%;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 88px;
}
.development__stages .row{
	/* gap: 30px; */
}
.development__stages .development__stages-img img{
	background: rgba(254, 244, 255, 0.07);
	border: 1px solid rgba(255, 255, 255, 0.28);
	border-radius: 15px;
}
.development__stages .development__stages-content--box{
	margin: 25px 0 16px 0;
	gap: 16px;
}
.development__stages .development__stages-content h4{
	font-weight: 600;
	font-size: 18px;
	line-height: 132.6%;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.development__stages .development__stages-content p{
	font-weight: 400;
	font-size: 15px;
	line-height: 150.6%;
	color: #FFFFFF;
	/* margin-top: 16px; */
}
.development__stages-btn a {
	font-weight: 600;
	font-size: 17px;
	line-height: 148.6%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	background: #EB5757;
	border-radius: 15px;
	height: 130px;
	width: 100%;
}
.rov__top {
	margin-top: 50px;
}
/* development__stages end */
.run__sec {
	padding-top: 76px;
	position: relative;
}
.run__sec::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 87%;
	background: #FFFFFF;
	border-radius: 20px;
}
.run__sec .bg-img {
	position: absolute;
	left: 0;
	right: 0;
	top: 85px;
	margin: auto;
	z-index: 2;
	width: 47%;
}
.run__sec .row {
	position: relative;
	z-index: 3;
}
.run__sec .title {
	margin-bottom: 78px;
	text-align: center;
}
.run__sec .run__sec-block {
	margin-bottom: 66px;
}
.run__sec .run__sec-block:last-child {
	margin-bottom: 0;
}
.run__sec .run__sec__block-name {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.run__sec .run__sec__block-name span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #0C4AB3;
	font-weight: 600;
	font-size: 20px;
	line-height: 132.6%;
	color: #FFFFFF;
	margin-right: 20px;
}
.run__sec .run__sec__block-name h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 128.1%;
	color: #000000;
}
.run__sec .run__sec__block-text p {
	font-weight: 300;
	font-size: 15px;
	line-height: 132.6%;
	color: #000000;
}
.run__sec .run__sec-img img {
	width: 100%;
}
/* ////////// */
.order__app {
	padding-top: 70px;
}
.order__app .title {
	margin-bottom: 58px;
	text-align: center;
}







































/*@media only screen and (max-width: 480px){}*/


